# Reading Numpy arrays

In [3]:
import numpy as np
X = np.genfromtxt('ionosphere.txt', delimiter=',')
X[:3]

array([[ 1.     ,  0.     ,  0.99539, -0.05889,  0.85243,  0.02306,
         0.83398, -0.37708,  1.     ,  0.0376 ,  0.85243, -0.17755,
         0.59755, -0.44945,  0.60536, -0.38223,  0.84356, -0.38542,
         0.58212, -0.32192,  0.56971, -0.29674,  0.36946, -0.47357,
         0.56811, -0.51171,  0.41078, -0.46168,  0.21266, -0.3409 ,
         0.42267, -0.54487,  0.18641, -0.453  ,  1.     ],
       [ 1.     ,  0.     ,  1.     , -0.18829,  0.93035, -0.36156,
        -0.10868, -0.93597,  1.     , -0.04549,  0.50874, -0.67743,
         0.34432, -0.69707, -0.51685, -0.97515,  0.05499, -0.62237,
         0.33109, -1.     , -0.13151, -0.453  , -0.18056, -0.35734,
        -0.20332, -0.26569, -0.20468, -0.18401, -0.1904 , -0.11593,
        -0.16626, -0.06288, -0.13738, -0.02447, -1.     ],
       [ 1.     ,  0.     ,  1.     , -0.03365,  1.     ,  0.00485,
         1.     , -0.12062,  0.88965,  0.01198,  0.73082,  0.05346,
         0.85443,  0.00827,  0.54591,  0.00299,  0.83775, -0.13644,
         0.75535, -0.0854 ,  0.70887, -0.27502,  0.43385, -0.12062,
         0.57528, -0.4022 ,  0.58984, -0.22145,  0.431  , -0.17365,
         0.60436, -0.2418 ,  0.56045, -0.38238,  1.     ]])

In [4]:
X = np.genfromtxt('ionosphere.txt', delimiter=',',
                  usecols=np.arange(34))
X[:3]

array([[ 1.     ,  0.     ,  0.99539, -0.05889,  0.85243,  0.02306,
         0.83398, -0.37708,  1.     ,  0.0376 ,  0.85243, -0.17755,
         0.59755, -0.44945,  0.60536, -0.38223,  0.84356, -0.38542,
         0.58212, -0.32192,  0.56971, -0.29674,  0.36946, -0.47357,
         0.56811, -0.51171,  0.41078, -0.46168,  0.21266, -0.3409 ,
         0.42267, -0.54487,  0.18641, -0.453  ],
       [ 1.     ,  0.     ,  1.     , -0.18829,  0.93035, -0.36156,
        -0.10868, -0.93597,  1.     , -0.04549,  0.50874, -0.67743,
         0.34432, -0.69707, -0.51685, -0.97515,  0.05499, -0.62237,
         0.33109, -1.     , -0.13151, -0.453  , -0.18056, -0.35734,
        -0.20332, -0.26569, -0.20468, -0.18401, -0.1904 , -0.11593,
        -0.16626, -0.06288, -0.13738, -0.02447],
       [ 1.     ,  0.     ,  1.     , -0.03365,  1.     ,  0.00485,
         1.     , -0.12062,  0.88965,  0.01198,  0.73082,  0.05346,
         0.85443,  0.00827,  0.54591,  0.00299,  0.83775, -0.13644,
         0.75535, -0.0854 ,  0.70887, -0.27502,  0.43385, -0.12062,
         0.57528, -0.4022 ,  0.58984, -0.22145,  0.431  , -0.17365,
         0.60436, -0.2418 ,  0.56045, -0.38238]])

In [5]:
y = np.genfromtxt('ionosphere.txt', delimiter=',',
                  usecols=34, dtype='int')
y[:3]

array([ 1, -1,  1])

# Functions in Python

In [9]:
def cube(x):
    """this is my first function in the module; it cubes a number"""
    return x**3
cube(3)

27

In [10]:
help(cube)

Help on function cube in module __main__:

cube(x)
    this is my first function in the module; it cubes a number

In [11]:
def powers(x):
    """this function computes both square and cube"""
    return x**2, x**3
powers(3)

(9, 27)

In [12]:
powers(3)[1]

27

# Assignment in Python

In [14]:
a = np.array([1, 2, 3])
a

array([1, 2, 3])

In [15]:
b = a
b

array([1, 2, 3])

In [17]:
a[1] = 100
a

array([  1, 100,   3])

In [18]:
b

array([  1, 100,   3])

# Rank of a number

In [19]:
a = np.array([1, 2, 3])
b = np.array([5, 6])
np.concatenate((a, b))

array([1, 2, 3, 5, 6])

In [20]:
my_array = np.concatenate((np.arange(10**6), np.array([4])))

1. It will be an array that first spans from 0 to 10^6 - 1 and the last element will be 4

In [21]:
my_array

array([     0,      1,      2, ..., 999998, 999999,      4])

2. Because concatenate combines 2 lists contained within a tuple

In [22]:
import time
start = time.time()
print(sum(4 >= my_array))
print(time.time() - start, "seconds")

6
0.045684814453125 seconds

3. Because in my_array, we have 0, 1, 2, 3, and 4. We also concatenated an array [4] to the end of np.arange(10**6) which means there are two 4's in the array. This makes the count 0, 1, 2, 3, 4, and 4.

In [24]:
start = time.time()
count = 0
for n in range(my_array.size):
    if 4 >= my_array[n]:
        count = count + 1
print(count)
print(time.time() - start, "seconds")

6
0.09093475341796875 seconds

# Computing minimum

In [26]:
import math
start = time.time()
current_minimum = math.inf
minimum_index = None
for n in range(my_array.size):
    if current_minimum > my_array[n]:
        current_minimum = my_array[n]
        minimum_index = n
print(current_minimum)
print(minimum_index)
print(time.time() - start, "seconds")

0
0
0.07370781898498535 seconds

# Other Exercises

5.

In [27]:
def vectorNorm(array, length):
    norm = 0
    for i in range(length):
        norm += array[i]*array[i]
    return norm

6.

In [ ]:
def vectorNorm(array):
    norm = 0
    for i in range(array.size):
        norm += array[i]*array[i]
    return norm

7. used math module due to slightly faster speed (negligible)

In [29]:
import math
def vectorNorm(array):
    norm = 0
    for i in range(array.size):
        norm+= array[i]*array[i]
    return math.sqrt(norm)